h2 {
  font-size: 1.8rem;
  margin: 20px 10px 0px 10px;
  padding: 0;
}

.date-range {
  font-size: 0.8rem;
}

.resultats {
  margin-top: 50px;
  font-size: 18px;
}

.back-to-chart {
  margin-top: 40px;
  cursor: pointer;
}

.retour {
  position: absolute;
  margin-top: 50px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 400;
  top: -20px;
  left: 40px;
}

.chartbox>* {
  margin: auto;
  padding: 30px 50px 0 0;
  margin-bottom: -10px;
}

.chart-menu {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  padding-left: 40px;
}

.chart-menu>span {
  cursor: pointer;
}

.fadeout {
  visibility: visible;
  opacity: 0;
  transition: opacity .25s linear;
}

.fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity .25s linear;
}

.bold {
  font-weight: 900;
}