.error-message {
  width: 300px;
  margin: auto;
  margin-top: 60px;
  font-size: 18px;
}

.error2 {
  width: 200px;
  font-size: 14px;
  margin: auto;
  margin-top: 40px;
}

.error-ok {
  color: rgb(239, 186, 186);
  margin-top: 80px;
  padding: 10px;
  background-color: rgba(239, 186, 186, 0.2);
  border-radius: 20px;
  border-color: rgb(239, 186, 186);
  font-size: 16px;
  cursor: pointer;
}

.error-ok:hover {
  background-color: rgba(239, 186, 186, 0.3);
}

.date {
  display: inline-flex;
  width: 90%;
}

.date>div {
  padding: 0px 30px 30px 30px;
  text-align: center;
  font-size: 0.8rem;
  min-width: 150px;
  margin: auto;
}

.knob-box {
  position: relative;
  right: 8%;
  width: 100px;
  margin: auto;
  opacity: 0.8;
}

.provinces {
  position: relative;
  top: -100px;
  background: url('/assets/Canada2.svg') no-repeat 70%;
  background-size: 400px;
  margin-left: 10px;
  height: 400px;
  opacity: 0.9;
  z-index: -1;
}

.button-decoration > button {
  color: rgb(239, 186, 186);
  text-shadow: 1px 1px rgb(156, 132, 132);
  border: none;
  background: transparent;
}
