.date {
  display: inline-flex;
  width: 90%;
}

.date>div {
  padding: 0px 30px 30px 30px;
  text-align: center;
  font-size: 0.8rem;
  min-width: 150px;
  margin: auto;
}

.knob-box {
  position: relative;
  right: 8%;
  width: 100px;
  margin: auto;
  opacity: 0.8;
}

.provinces {
  position: relative;
  top: -100px;
  background: url('/assets/Canada2.svg') no-repeat 70%;
  background-size: 400px;
  margin-left: 10px;
  height: 400px;
  opacity: 0.9;
  z-index: -1;
}

.button-decoration > button {
  color: rgb(239, 186, 186);
  text-shadow: 1px 1px rgb(156, 132, 132);
  border: none;
  background: transparent;
}
